@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderConteiner.logo {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    height: 3rem;
    padding: 10px 6.25rem;
}

.HeaderConteiner.logo h3 {
    color: rgba(var(--brand-1), 1);
    margin-top: 0.2rem;
    padding: 0.2rem;
}

.HeaderConteiner.user {
    display: flex;
    background-color: rgba(var(--brand-1), 1);
    color: rgba(var(--grey-6), 1);
    width: 80%;
    padding: 1rem;
    padding-left: 0px;
}
.imgHeader{
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
    border-radius: 90px;
    border: 2px solid #FFFFFF;
}
.nomePrincipal {
    font-weight: bold;
}
.HeaderConteiner.user p,.HeaderConteiner.user h3 {
    margin-left: 1rem;
    font-size: 0.8rem;
    
}

.divHeaderEditarTarefa {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 400px;
}

.tituloEditarTarefa {
   padding-top: 20px;
}

#div_button{
    display: flex;
    justify-content: space-around;
    margin-top: 0.500rem;
}

#div_button button {
    border-radius: 5px;
    width: 6rem;
    cursor: pointer;
    padding: 6px;
}

#button_excluir{
    background-color:#F1F3F5;
    box-shadow: 1px 2px 5px rgba(194, 194, 194, 0.658);
    font-weight: bold;
    

}
#button_salvar {
    color: #FFFFFF;
    background-color: #A0ADF9;
    box-shadow: 1px 2px 5px rgba(194, 194, 194, 0.658);
}

#button_salvar:hover {
    background-color: #415AF3;
}

.topUserInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 13px;
}

.topUserInfo p {
    font-weight: 200;
}

.divPrincipal {
    display: flex;
    width: 100%;
    background-color: rgba(var(--brand-1), 1);
    color: white;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5.7rem;
    box-shadow: 1px 2px 5px rgb(189, 189, 189);
}

.statusHeader {
    width: 48px;
}

 .conteinerHeaderUser {
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 6.25rem;
} 

 /* STYLE MENU USER */
.figure-header1-imagem-usuario {
    padding: 10px 0px;
    margin: 0;
}

.imagem-usuario {
    border: 2px solid #415AF3;
    border-radius: 90px;
}

.figure-header1-imagem-usuario:hover {
    cursor: pointer;
}

.figure-header1-imagem-usuario:hover ~ .menuLogin {
    display: flex;
}

.menuLogin:hover {
    display: flex;
}

.menuLogin {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 15.375rem;
    height: 7.75rem;
    right: 1rem;
    top: 1.9rem;
    padding: 0.5rem;

    border-radius: 10px;
    background-color: #FFFFFF;
    gap:1rem;
    box-shadow: 1px 2px 5px rgba(194, 194, 194, 0.658);
    
}

.menuLogin>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 1rem;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0.4rem;
    background-color: #FFFFFF;
    cursor: pointer;
}

.menuLogin>button:hover {
    background-color: #415AF3;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(194, 194, 194, 0.658);
}

/* STYLE MODAL EDITAR PERFIL */

.modalBoxOpcoesUsuario {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.containerDadosEditarPerfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
    gap: 30px;
}

.containerHeader {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.botaoFecharModal {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    height: 20%;
    color:#ADB5BD;

    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.containerDadosEditarPerfil>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    gap: 5px;
}
.labelNome .labelUrl {
    width: 90%;
    padding: 15px;
    font-family: 'Inter', sans-serif;
}
.inputNome .inputUrl {
    width: 90%;
    height: 2.5rem;
    margin-bottom: 15px;
}

.botaoSalvarAlteracoesEditarPerfil {
    width: 100%;
    height: 2.5rem;

    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #A0ADF9;
    cursor: pointer;
    border-radius: 5px;
}

.botaoSalvarAlteracoesEditarPerfil:hover {
    background-color: #415AF3;

}

/* //////// */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.container_tasks {    
    display: flex;
    flex-direction: row;    
    justify-content: center;
    width: 100vw;
    background-color: #FFFFFF;
}

.boxFiltro {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

    font-family: 'Inter', sans-serif;
    font-size: 0.980rem;
}

#todos_concluidos_criar{
    display: flex;    
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

/* DIV TITULOS CONTAINER TAREFAS */

.container_tarefas {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.taskList {
    overflow-x: scroll;
}

#tituloTarefas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 3.2rem;
    padding: 12px;
    gap: 10px;


    background-color: #FFFFFF;
    border: solid 1px rgb(196, 196, 196);
    overflow: hidden;
    color: #A1A1A1;
    font-family: 'Inter', sans-serif;
    font-size: 0.980rem;
}

.statusTitulo {
    display: flex;
    align-items: center;
    width: 100%; 
}

.status {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.tituloHeader {
    width: 17rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #A1A1A1;
}

.descricaoHeader {
    display: flex;
    width: 13.75rem;
    padding: 10px 0px;
}

.categoria {
    width: 5rem;
    display: flex;
    justify-content: center;
    padding: 5px;
}


/* CARDS TAREFAS */
.tarefasDOM {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 3rem;
    padding: 12px;
    gap: 10px;

    background-color: #FFFFFF;
    border: solid 1px rgb(196, 196, 196);
    overflow: hidden;
}

.tarefasDOM:hover {
    background-color: #F1F3F5;
}

.inputStatus {
     display: flex;
     width: 50px;
     justify-content: center;
     padding: 10px 18px 10px 10px;
}

.inputStatus>input {
    margin: 0;
}

.imgGreenChecked {
    width: 15px;
    
}

.titulo {
    width: 17rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.titulo > p{
    display: block;
    width: 100%;
    resize: horizontal;
    font-size: 0.800rem;
}

.divDaDescricao {              
    display: flex;
    width: 13.75rem;
    padding: 10px 0px;
    overflow: hidden;
}

.divDaDescricao>p {              
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    font-size: 0.800rem;
    font-family: 'Inter', sans-serif;
}


.divCategoriaTarefaCard {
    width: 5rem;
    display: flex;
    justify-content: center;
    padding: 5px 8px 5px 5px;

    border-radius: 5px;
    background-color: #D7E4FB;
    font-size: 0.800rem;
    font-family: 'Inter', sans-serif;
    color: #415AF3;
    font-weight: 500;
}

.divEditarTarefaCard {
    padding-right: 10px;
}


.imagem-usuario{
    border-radius: 100px;
    overflow: hidden;
}

/* MODAL */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-family: 'Inter', sans-serif;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.598);
    transition: all 300ms ease-out;
}

.containerCriarHabito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
    gap: 30px;
}
.divBoxHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.form {
    background-color: white;
    width: 50%;
    max-width: 25rem;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    height: 28rem;
}

.buttonFecharEditarTarefa {
    cursor: pointer;
}

.formEditarTarefa {
    background-color: white;
    width: 50%;
    max-width: 25rem;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    height: 32rem;
}
.modal_button {

    text-decoration: none;
    color:#ADB5BD;
    padding: 0.5rem;
    margin: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}
.status{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 5px;
    height: 1.875rem;
}
.status input{
    width: 1rem;
    cursor: pointer;
}

.modal h2 {
    font-size: 1.2rem;

}

.iconEditar {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.modal p {
    font-size: 1rem;
}

select {
    border: none;
    height: 2rem;
    background-color: #F1F3F5;
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
}

#todos_concluidos_criar .filtro{
    cursor: pointer;
    background-color: #FFFFFF;
}


#button_entrar {
    font-family: 'Inter', sans-serif;
    background-color: #A0ADF9;
    border-radius: 5px;
    color: #FFFFFF;
    width: 100%;
    height: 2rem;
    font-weight: 400;
    transition: 144ms;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(194, 194, 194, 0.658);
}

#button_entrar:hover {
    background-color: #415AF3;
}

#button_entrar.imagem-usuario {
    color: rgb(61, 61, 60);
}
.modal_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}


#carregarMais{
    margin-top: 3rem;
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
}

.modal_form input {
    font-size: 12px;
    height: 2rem;
    border-radius: 5px;
    
}

#descricao{
    display: flex;
    height: 4rem;
}

.tarefasDOM.conclidoTarefa{
    background-color: rgba(var(--grey-5), 1);
}

@media (max-width: 768px){

    #tituloTarefas {
        font-size: 0.800rem;
    }

    #tituloTarefas>div {
        width: 50px;
    }
    
    .form {
        width: 90%;
    }

    .formEditarTarefa {
        width: 85%;
    }
    
    .tituloHeader {
        width: 10rem;
    }
    
    .descricaoHeader {
        display: none;
    }

    .statusTitulo {
        width: 100%; 
    }
    
    .categoria {
        width: 5rem;
        padding: 5px;
    }

    .descricao{
        display: none;
    }

    .container_tarefas {
        width: 86%;
    }

    .boxFiltro {
        width: 86%;
    }

    .divPrincipal{
        width: 100%;
    }

    .HeaderConteiner.logo {
        padding: 10px 1rem;
    }

    .conteinerHeaderUser{
        padding: 10px 1rem;
    }

    .inputStatus {
        padding: 10px;
   }

    .titulo{    
        width: 8rem;
        justify-content: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .divDaDescricao {
        display: none;
    }

    .divCategoriaTarefaCard {
        width: 3rem;
    }

    .divCategoriaTarefaCard>p {
        font-size: 80%;
        height: 100%;
    }

    .modalBoxOpcoesUsuario {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 20rem;
        background-color: #FFFFFF;
        border-radius: 5px;
    }

    .containerCriarHabito {
        width: 100%;
        height: 100%;
        padding: 25px;
        gap: 30px;
    }
  
}

